# ===== Python cache =====
__pycache__/
*.pyc
*.pyo
*.pyd

# ===== Virtual Environment =====
env/
venv/
ENV/
.env/
.venv/

# ===== Model / Training Artifacts =====
*.pkl
*.h5
*.pt
*.onnx

# ===== Dataset / Large Files =====
dataset/
Citra BISINDO/
Data
.augmentation_progress.txt
augmentation_samples.png 

# ===== Jupyter Notebook checkpoints =====
.ipynb_checkpoints/

# ===== System / Editor cache =====
.DS_Store
Thumbs.db

# ===== Logs =====
*.log

# ===== IDE specific =====
.vscode/
.idea/
